# SNIPE-IT Configuration
SNIPE_URL=
SNIPE_DIRECT_PORT=
SNIPE_PROXY_PORT=
SNIPE_API_TOKEN= 
SNIPE_IT_APP_PATH=
SNIPE_CONFIG_DEBUG=0

# SNIPE-IT DB
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# ZABBIX Configuration
ZABBIX_URL=
ZABBIX_PROXY_PORT=
ZABBIX_USER=
ZABBIX_PASS=

# WAZUH Configuration
WAZUH_MANAGER_IP=
WAZUH_API_URL=
WAZUH_INDEXER_URL=
WAZUH_DIRECT_PORT_API=
WAZUH_DIRECT_PORT_INDEXER=
WAZUH_PROXY_PORT_API=
WAZUH_PROXY_PORT_INDEXER=
WAZUH_USER=
WAZUH_PASS=

# Verification of SSL certs
SSL_VERIFY=False

# Azure/Intune Configuration
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_DEBUG=0

# Config Paths
NGINX_CONF_FILE = 
APACHE_CONF_FILE = 

SNIPE_IT_ENV_FILE = 
SNIPE_IT_DIR = 

ENV_FILE_PATH = # Path to .env file that is used by various scripts

# Proxy Configuration
USE_PROXY=False
PROXY_HOST=

#Microsoft365 Sync debugging flags
MS365_DEBUG=0

# Intune debugging flags
INTUNE_DEBUG=0
INTUNE_CATEGORIZATION_DEBUG=0

# Teams debugging flags
TEAMS_DEBUG=0
TEAMS_CATEGORIZATION_DEBUG=0

#Asset Matcher Configuration
ASSET_MATCHER_DEBUG=0

# Network Configuration
# Networks to scan
NMAP_TARGETS=“192.168.1.0/24 192.168.2.0/24”
DNS_SERVERS=

# 0=discovery only 1= port scan
NMAP_DEEP=0

# Nmap debugging flags
NMAP_DEBUG=0  
NMAP_CATEGORIZATION_DEBUG=0

#SNMP Configuration
SNMP_COMMUNITY=public
SNMP_PORT=161
SNMP_VERSION=2c
SNMP_TIMEOUT=2
SNMP_RETRIES=1